absl-py==1.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
ark-nlp==0.0.9
attrs==21.4.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.0
cachetools==5.0.0
catboost==1.0.6
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
cnradical==0.1.0
cycler==0.11.0
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
entrypoints==0.4
et-xmlfile==1.1.0
fastjsonschema==2.15.3
filelock==3.6.0
fonttools==4.33.3
funcy==1.17
future==0.18.2
gensim==3.5.0
google-auth==2.6.5
google-auth-oauthlib==0.4.6
graphsurgeon==0.4.5
graphviz==0.20.1
grpcio==1.45.0
hanlp-downloader==0.0.25
harvesttext==0.8.1.6
huggingface-hub==0.0.12
idna==3.3
importlib-metadata==4.11.3
importlib-resources==5.6.0
ipykernel==6.12.1
ipython==7.32.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
isodate==0.6.1
jedi==0.18.1
jieba==0.42.1
Jinja2==3.1.1
joblib==1.1.0
JPype1==0.7.0
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.2.2
jupyter-console==6.4.3
jupyter-core==4.9.2
jupyterlab-pygments==0.2.0
jupyterlab-widgets==1.1.0
kiwisolver==1.4.2
lightgbm==3.3.2
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mistune==0.8.4
nbclient==0.5.13
nbconvert==6.4.5
nbformat==5.3.0
nest-asyncio==1.5.5
networkx==2.6.3
nltk==3.7
notebook==6.4.10
numexpr==2.8.1
numpy==1.21.5
oauthlib==3.2.0
opencc-python-reimplemented==0.1.6
openpyxl==3.0.9
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.0
pip==21.2.2
platformdirs==2.5.2
plotly==5.9.0
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==3.20.0
psutil==5.9.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments==2.11.2
pyhanlp==0.1.84
pyLDAvis==3.3.1
pyparsing==3.0.7
pypinyin==0.46.0
pyrsistent==0.18.1
python-dateutil==2.8.2
python-louvain==0.16
pytorch-crf==0.7.2
pytz==2021.3
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.3.0
QtPy==2.0.1
rdflib==6.1.1
regex==2022.3.15
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
sacremoses==0.0.49
scikit-learn==1.0.2
scipy==1.7.3
Send2Trash==1.8.0
sentencepiece==0.1.96
setuptools==58.0.4
six==1.16.0
sklearn==0.0
smart-open==6.0.0
soupsieve==2.3.2
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorrt==8.2.0.6
terminado==0.13.3
testpath==0.6.0
threadpoolctl==3.1.0
tokenizers==0.10.3
torch==1.9.0+cu111
tornado==6.1
tqdm==4.63.0
traitlets==5.1.1
transformers==4.9.1
typing_extensions==4.1.1
uff==0.6.9
uritools==4.0.0
urlextract==1.6.0
urllib3==1.26.9
w3lib==1.22.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.1.1
wheel==0.37.1
widgetsnbextension==3.6.0
xgboost==1.6.1
zhon==1.1.5
zipp==3.7.0
